<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="by.andreiblinets.entity.Account"/>
        <mapping class="by.andreiblinets.entity.Subscription"/>
        <mapping class="by.andreiblinets.entity.Payment"/>
        <mapping class="by.andreiblinets.entity.PeriodicalEdition"/>
        <mapping class="by.andreiblinets.entity.User"/>
    </session-factory>
</hibernate-configuration>